
@{
    ViewBag.Title = "Dashboard";
}

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>


<!-- Header -->
<div id="header-wrapper">



    <div id="banner">
        <div class="container1">
            <div class="row">
                <section class="12u">
                    <header>
                        <h2>TonGIS Корпорация представляет</h2>
                        <span class="byline">Самая лучшая сеть ресторанов</span>
                    </header>

                </section>
            </div>
        </div>
    </div>

</div>
<!-- Header Ends Here -->
<!-- Featured Ends Here -->
<!-- Page -->
<div id="contact-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h3>Контакты</h3>
                <p>Адрес: г. Казань, ул. Пушкина, д. 1</p>
                <p>Телефон: +7 (917) 123-45-67</p>
                <p>Email: TonGIS@company.com</p>
            </div>
        </div>
    </div>
</div>
